@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/homestyle.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Stwórz swoją wymarzoną garderobę skrojoną na Ciebie! </h1>
    <p><button>Przejdź do kreatora!</button></p>
</div>
