* {
    color: #F2E6D8;
    font-family: 'Poppins';
}
body {
    background-image: url('../images/background.jpg');
    background-position:center;
}

button {
    width: 10 em;
    height: 4 em;
    background-color: #402E24;
    border-radius: 3px;
}
